@CHARSET "UTF-8";

#product-list{text-align:center;}
#product-list > thead{background-color:skyblue}
.product-title{text-align:center;}
.product-price{text-align:center;width:20%;}
.product-seller{text-align:center;width:20%;}
.pagerUnit{display:inline-block;width:30px;}