@CHARSET "UTF-8";

.navbar-custom{
	background-color:#773300;
}

.navbar .nav > li > a{
	color:#FFFFFF;
	font-size:20px;
}

.navbar .nav > li > a:hover{
	color:#773300;
	background-color:#FFFFFF;
}

#navigation{margin-top:20px}